<!DOCTYPE html>
<html>

<head>
    <title> Web2:{{title}}</title>
</head>

<body>
    <h1>가족같은 2남1녀 </h1><br>
    <p>
    {% if user %}
    {{user.name}} 님 환영합니다 !  <br>
    <a href = "http://localhost:{{port}}/signIn/logout"> 로그아웃 </a> <br> 
    {% else %}
    <a href="http://localhost:{{port}}/signIn"> 로그인 페이지(signIn) </a> <br>
    {% endif %}
    <a href="http://localhost:{{port}}/signUp"> 회원가입(signUp) </a> <br>
    <a href="http://localhost:{{port}}/post"> 게시판 이동(post) </a> <br>
    </p>






</html>