<!DOCTYPE html>
<html>

<head>
    <title> Web2: 가족같은 2남1녀</title>
</head>

<body>
    <p>
        <form id ="form" action="/member/login" method= "post">
        login <br>
        <input type = "text" name ="id" placeholder ="ID" /> <br>
        <input type = "password" name = "password" placeholder="PASSWORD"> <br>
        <button type = "submit"> login </button> <br>
        </form>
        <br>
        <a href = "/member/signUp"> 회원가입 페이지 </a> <br>
        <a href = "/"> 처음 화면  </a> <br>
    </p>


</body>

</html>